body {
  background-color: #0a0a23;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
}

canvas {
  background: #1c1c3c;
  border: 2px solid #00e676;
  border-radius: 10px;
  display: block;
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
  color: #00e676;
}

#scoreboard {
  margin-top: 10px;
  font-size: 18px;
}

#startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#usernameInput {
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  text-align: center;
}

#startBtn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #00e676;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#startBtn:hover {
  background-color: #00c853;
}
